<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
 
<body id="home">
  <!-- Navbar -->
  
  <!-- Header: Showcase -->
  <header id="showcase">
    <div class="showcase-content">
      <h1 class="l-heading">
        The Sky Is The Limit
      </h1>
      <p class="lead">
        Don't have an Account?
      </p>
      <a [routerLink]='["/open-account"]'class="btn">Apply Online!</a>
    </div>
  </header>
</body>
<router-outlet></router-outlet>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  
  


