<div class="wrapper">
    <div class="title">
Set Password</div>
<form >
<div class="field">
  <input type="password" required/>
  <label>&#xf023;  Login Password</label>
</div>
      <div class="field">
        <input type="password"  required/>
        <label>&#xf023;  Confirm Login Password</label>
      </div>
  
  <p id="message"></p>
  <div class="field">
          <input type="submit" (click)="submitted()" value="Proceed">
        </div>   

<div class="field">
        <input type="submit" value="Back">
      </div>

</form>
</div>
